{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="{% static 'css/styles.css' %}"  type='text/css' media='all' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" />
  <title>Login</title>
</head>
<body>
  {{message}}

  <div class="d-flex w-100 h-100">
    
    <div class="w-50 h-100 d-flex align-items-center justify-content-center bg-gray">
      <div>
        
        <h1 class="text-light" style="font-size: 70px"><b>Welcome to Fairhire</b></h1>
        <!-- <img src="{% static 'image/telescope_logo.png' %}" style="width:400px"> -->
      </div>
    </div>
    <br>
        
        <br>
    <div class="w-50 h-100 d-flex align-items-center justify-content-center bg-teal">
        
        <form action="change_password" method="post" class="w-100 p-5">
        {% csrf_token %}
            {% if msg %}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
                <button type="button" class="btn btn-success"><a href="/dashboard" style="color:white; text-decoration:none;">Back to Dashboard</a></button>

            {% endif%}
            {% if msg_error %}
                <div class="alert alert-danger" role="alert">
                    {{msg_error}}
                </div>
            {% endif%}
            <h1 class="text-light mb-4"><b>Change Password here:</b></h1> 
                
            
            <input type="text" name="email" placeholder="Enter your Email" class="w-100 my-3 text-light py-2"><br>        
            <input type="text" name="old_password" placeholder="Enter Old password" class="w-100 my-3 text-light py-2"><br>
            <input type="text" name="new_password" placeholder="Enter New password" class="w-100 my-3 text-light py-2"><br>
            <input type="submit" value="Reset Password" class="w-50 my-3 py-2"><br>  

        </form>

      
    </div>
  </div>
  <script>
    function xyz(){
      localStorage.setItem("logged_in", "True");
    }
  </script>
</body>
</html>