<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- ======= Styles ====== -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <style>
        .actives {
            background-color: #1abc9c;
        }
    </style>
</head>

<body>
    {% include "header.html" %}


    <div class="container"
        style="display: flex; justify-content: space-between; padding: 0px; margin: 0px; width: 100%;">

        <div class="navigation " style="padding: 0px; margin: 0px; background-color: #1abc9c; ">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
        
                        </span>
                        <h2 class="title">Fair Hire</h2>
                    </a>
                </li>
        
                <li>
                    <a href="chat_staff">
                        <h4 id="dashboard-link">Dashboard</h4>
                    </a>
                </li>
              
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main" style="padding-top: 3%;" style="width: 90% !important;">

          
            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders" style="display: flex; flex-wrap: wrap;">
                    <div style="width: 100%;">
                        <h2>chat</h2>
                    </div>
                    
                    <table class="border">

                        <thead
                            style="display: flex; width: 100%; justify-content: space-between; flex-wrap: wrap; margin-bottom: 20px; ">
                            <tr style="display: flex; width: 100%; justify-content: space-between; flex-wrap: wrap;">
                                <td style="text-align:center; width: 8%; font-size: 20px;">Index</td>
                                <td style=" text-align:center;width: 15%; font-size: 20px;">First Name</td>
                                <td style=" text-align:center;width: 15%; font-size: 20px;">status</td>
                                <td style="text-align:center; width: 15%; font-size: 20px;">chat</td>
                               
                            </tr>
                        </thead>

                        <tbody>
                            {% for j in context.chats %}

                            <tr style="display: flex; width: 100%; justify-content: space-between; flex-wrap: wrap; ">

                                <td style=" text-align:center; width: 8%;"> {{ forloop.counter }}</td>

                                <td style=" text-align:center;width: 15%;">{{j.requester}}</td>
                                
                                <td style=" text-align:center;width: 25%;">{{j.is_active}}</td>
                                <td class="aboutstatus" style="display: none; width: 15%;">{{j.status}}</td>
                                <td style=" width: 15%;"><a href="{% url 'staff_chat_room' id=j.id %}">View chat</a></td>
                            </tr>

                            {% endfor %}


                        </tbody>
                    </table>
                </div>

                </table>
            </div>
        </div>
    </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
<script>


   
        console.log(window.location.pathname);
        if(window.location.pathname == "/chat_staff"){
            document.getElementById("dashboard-link").style.color = "#2c3e50";
    }
</script>
</script>

</html>