{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="{% static 'css/styles.css' %}"  type='text/css' media='all' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" />
  <title>Login</title>
</head>
<style>
  @media (max-width: 450px) {
         
   .forget-wrapper{
     flex-wrap: wrap;
   }  
   .forget-first, .forget-second{
       
       width: 100% !important;
     }
     .forget-first{
       height: 35% !important;
     }
     .forget-second{
       height: 65% !important;
     }
     h1{
       text-align: center;
       font-size: 45px !important;
     }
     h3{
       font-size: 20px !important;
     }
     .w-50{
      width: 100% !important;
     }


   }
</style>
<body>
  {{message}}

  <div class="d-flex w-100 h-100 forget-wrapper">
    
    <div class="w-50 h-100 d-flex align-items-center justify-content-center bg-gray forget-first">
      <div>
        
        <h1 class="text-light" style="font-size: 70px"><b>Welcome to <a href="/" style="color: 1abc9c; text-decoration: none;">Fairhire</a></b></h1>
        <!-- <img src="{% static 'image/telescope_logo.png' %}" style="width:400px"> -->
      </div>
    </div>
    <br>
        
        <br>
    <div class="w-50 h-100 d-flex align-items-center justify-content-center bg-teal forget-second">
        
        <form action="forgot_password" method="post" class="w-100 p-5">
        {% csrf_token %}
            <h1 class="text-light mb-4"><b>Forgot Password</b></h1> 
            {% if message%}
            <p class="alert alert-danger" role="alert">
                {{message}}
            </p>
            {% endif %}   
            
            {% if message_success%}
            <p class="alert alert-success" role="alert">
                {{message_success}}
            </p>
            <button type="button" class="btn btn-success"><a href="/login">Login Here</a></button>
            {% endif %}     

            <input type="text" name="email" placeholder="Enter your Email" class="w-100 my-3 text-light py-2"><br>        
        
            <input type="submit" value="Send Temporary Password to email" class="w-50 my-3 py-2"><br>  

        </form>

      
    </div>
  </div>
  <script>
    function xyz(){
      localStorage.setItem("logged_in", "True");
    }
  </script>
</body>
</html>