<!DOCTYPE html>
<html lang="en">
    {% load static %}

    
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin statistics</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- ======= Styles ====== -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <style>
        .main {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin-top: 70px !important;
            padding-left: 10px;
            text-align: center;
            color:  #2c3e50;;
        }
    
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard</title>
    <!-- ======= Styles ====== -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <style>
        .actives {
        background-color: #1abc9c;
        }

    </style>
</head>

<body>
    {% include "header.html" %}


    <div class="container" style="display: flex; justify-content: space-between; padding: 0px; margin: 0px; width: 100%;">

        {% include "sidemenu.html" %}

        <!-- ========================= Main ==================== -->
        <div class="main"  style="width: 90% !important;">
            
            <form id="contactForm" action="newuser" method="post" style="width: 100%; margin: 50px; margin-top: 0px;">
                <!-- Name input-->
                {% csrf_token %}
                {% if msg%}
                <div class="alert alert-danger" role="alert">
                    {{msg}}
                  </div>
                {% endif%}
                <div class="form-floating mb-3">
                    <input class="form-control" id="fname" name="fname" type="text" placeholder="Enter your Firstname..." />
                    <label for="name">First Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="lname" name="lname" type="text" placeholder="Enter your Lastname..." />
                    <label for="name">Last Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="email" name="email" type="email" placeholder="Enter your Email..." />
                    <label for="name">Email Address</label>
                    
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="password" name="password" type="password" placeholder="Enter your password..." />
                    <label for="name">Password</label>
                </div>
                
                <div class="form-check mb-3" style="display: flex; justify-content: start;">
                    <input class="form-check-input" type="radio" name="role" id="flexRadioDefault1" value="Admin">
                    <label class="form-check-label" for="flexRadioDefault1" style="margin-left: 10px;">Admin</label>
                </div>
                <div class="form-check mb-3" style="display: flex; justify-content: start;">
                    <input class="form-check-input" type="radio" name="role" id="flexRadioDefault2" value="Staff" checked>
                    <label class="form-check-label" for="flexRadioDefault2" style="margin-left: 10px;">Staff</label>
                </div>
                <div class="form-check mb-3" style="display: flex; justify-content: start;">
                    <input class="form-check-input" type="radio" name="role" id="flexRadioDefault2" value="chat_staff" checked>
                    <label class="form-check-label" for="flexRadioDefault2" style="margin-left: 10px;">Chat Staff</label>
                </div>
        
                <!-- Submit Button-->
                <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Submit</button>
            </form>
    
        </div>
    </div> 

    <!-- =========== Scripts =========  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>















